<!--  Check if the 'success' variable exists and has a non-zero length -->
<% if(success && success.length){ %>
<!-- Success alert message box -->
<div class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert">
    <%=success %><!-- Display the success message -->
     <!-- Button to close the alert -->
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>


<!--  Check if the 'error' variable exists and has a non-zero length -->
<% if(error && error.length){ %>
<!-- Error alert message box -->
<div class="alert alert-danger alert-dismissible fade show col-6 offset-3" role="alert">
    <%=error %><!-- Display the error message -->
     <!-- Button to close the alert -->
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>