
<nav class="navbar navbar-expand-md bg-body-light sticky-top"><!--md for middle screen-->
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-solid fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">          
            <a class="nav-link" href="/listings">Explorer</a>
        </div>

         <div class="search ms-auto" role="search">
           <input class="btn-input" type="search" placeholder="Search Destination" aria-label="Search"/>
           <button class="btn-search" type="submit"><i class="fa-brands fa-searchengin"></i>Search</button>
         </div>

        <div class="navbar-nav ms-auto">
           <a class="nav-link" href="/listings/new">Add Listings</a>
            <% if(!currUser){ %>
               <a class="nav-link "  href="/signup"><b>Sign Up</b></a>
          
              <a class="nav-link" href="/login"><b>Log in</b></a>
            <% } %>

            <% if(currUser){ %>
              <a class="nav-link" href="/logout"><b>Log out</b></a>
            <% } %>
            
        </div>
      
      </div>
    </div>
  </nav>